body {
    background-image: url('/img/tilingBG.png');
    background-size: 50vw;
}

img {
    max-width:100%;
    height:auto;
}

h1 {
    color:white;
}

.submitButton {
    margin-bottom:8px;
}

.contactForm {
    max-width:90vw;
}